
body {
  /* background-color:  #faf9f8;Light gray or any other light color you prefer
   */
   background-color: RGB(250, 249, 248) !important;
  /* font-family: 'Raleway', sans-serif !important; */
  font-family: 'Lexend', sans-serif !important;
/* font-family: 'Raleway', sans-serif !important; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above other content */
}

.alignMent{
  display: flex !important;
  justify-content: end !important;
  align-items: end !important;
}
.active-step-label {
  color: #78C2AD !important; /* Set the desired color for the active step label */
}
.bg-primary{
  background-color: #78C2AD !important;
}
.centeredImage {
  max-width: '100%';
  max-height: '100%';
}
.isMobile{
  display: none;
}
.centeredCell {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100%';
}
.font-primary{
  color: #78C2AD !important;
}
.bg-success{
  background-color: #56CC9D;
}
.custom-button {
  background-color: #E49E61 !important; /* A complementary color */
  color: white !important; /* Text color */
}
.bg-danger{
  background-color: #F3969A;
}
/* h1 {
  font-size: 2.5vh !important; 
}

h2 {
  font-size: 2vh !important; 
}

h3 {
  font-size: 1.5vh !important;\
}

h4 {
  font-size: 1.25vh !important;
}

h5 {
  font-size: 1vh !important; 
}

h6 {
  font-size: 0.5vh !important;
} */

.MuiInputBase-input {
  font-size: 14px !important; /* Adjust the font size as needed */
}
.MuiInputLabel-root {
  font-size: 14px !important; /* Adjust the font size as needed */
  /* color: #78C2AD; Adjust the color as needed */
  /* You can add other styles here, such as font-weight, text-transform, etc. */
}
/* Adjust the font size for placeholder text */
.MuiInputBase-input::placeholder {
  font-size: 14px !important; /* Adjust the font size as needed */
}
.MuiInputBase-input::placeholder {
  font-size: 14px !important; /* Adjust the font size as needed */
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline .MuiInputBase-input {
  font-size: 14px !important; /* Adjust the font size as needed */
}
.MuiInputLabel-root.MuiInputLabel-formControl {
  font-size: 14px !important; /* Adjust the font size as needed */
  /* color: #78C2AD; Adjust the color as needed */
  /* You can add other styles here, such as font-weight, text-transform, etc. */
}
.MuiInputLabel-root.Mui-focused {
  font-size: 14px !important; /* Adjust the font size as needed */
  /* color: #78C2AD; Adjust the color as needed */
  /* You can add other styles here, such as font-weight, text-transform, etc. */
}
.MuiOutlinedInput-root {
  height: 40px; /* Adjust the height as needed */
  padding: 8px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
}
.custom-button2 {
  height: 40px;
  padding: 8px 16px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
}

/* Add this CSS to your stylesheets */
.slick-dots {
  bottom: 10px; /* Adjust the distance from the bottom as needed */
}

.slick-dots li {
  margin: 0 5px; /* Adjust the space between dots */
  list-style: none;
  display: inline-block;
}

.slick-dots li button {
  font-size: 12px; /* Adjust the font size of the dots */
  color: #78C2AD; /* Adjust the color of the dots */
  border: 1px solid #78C2AD; /* Adjust the border color of the dots */
  border-radius: 50%; /* Make the dots circular */
  background-color: transparent; /* Set the background color of the dots */
  padding: 5px; /* Adjust the padding of the dots */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #78C2AD; /* Adjust the background color of the active dot */
  color: #fff; /* Adjust the color of the active dot */
}
.progress-green {
  color: #00ff00 !important; /* Green color */
}
.your-button-class {
  position: relative !important;
  right: -170px !important;
}
.progress-red {
  color: #ff0000 !important; /* Red color */
}



.w-80{
  width: 84.95% !important;
}
.w-60{
  width: 61.95% !important;
}
.w-30{
  width: 30% !important;
}
.jsc{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.myGridItem{
  /* margin: 0px !important; */
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}
.MuiButton-root {
  padding: 0px; /*
   Adjust the padding as needed */
  margin: 0px;
   font-size: 14px; /* Adjust the font size as needed */
}

/* Reduce the text size within the button */
.MuiButton-label {
  font-size: 14px; /* Adjust the font size as needed */
}
/* Decrease the label's font size */
.MuiInputLabel-outlined {
  font-size: 14px; /* Adjust the font size as needed */
}

/* Decrease the margin between the label and the input field */
.MuiInputLabel-outlined + .MuiOutlinedInput-root {
  margin-top: 4px; /* Adjust the margin as needed */
}
.w-custom{
  width: 45%;
}
.hide-mobile{
  margin-top: 20px;
  margin-bottom: 20px;
}
.bg-grey{
  background-color: #CBCBCB;
}
.custom-btn{
  font-size: xx-small !important;
  width: 100%;
}
.w-90{
  width: 90%;
}
.w-92{
  width: 90%;
}
.padding2{
  padding: 40px;
}
.padding{
  padding:12px;
}
@media (max-width:900px) {
  .isMobile{
    display: block;
  }
  .isDesktop{
    display: none;
  }
}

@media (max-width:768px) {
  .isMobile{
    display: block;
  }
  
  .font{
    font-size: 9px;
  }
  .isDesktop{
    display: none;
  }
  .alignment{
    margin-top: 30px;
  }
  .w-custom{
    width: 95% !important;
  }
  .w-60{
    width: 100% !important;
  }
  .w-40{
    width: 40% !important;
  }
  .w-30{
    width: 100% !important;
  }
  .w-70{
    width: 70%;
  }
  .w-90{
    width: 100%;
  }
  .w-92{
    width: 90%;
  }
  .hide-mobile{
    display: none !important;
  }
}
@media (max-width:450px) {
  .padding{
    padding: 5px;
  }
  .padding2{
    padding: 20px;
  }
  .font{
    font-size: 8px;
  }
}
.error-message {
  color: #DA5B53;
  font-size: 12px;
  margin-top: 5px; /* Adjust as needed */
}