
body {
  background-color: #f5f5f5; /* Light gray or any other light color you prefer */
  font-family: 'Raleway', sans-serif !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above other content */
}

.alignMent{
  display: flex !important;
  justify-content: end !important;
  align-items: end !important;
}
.active-step-label {
  color: #78C2AD !important; /* Set the desired color for the active step label */
}
.bg-primary{
  background-color: #78C2AD !important;
}
.font-primary{
  color: #78C2AD !important;
}
.bg-success{
  background-color: #56CC9D;
}
.custom-button {
  background-color: #E49E61 !important; /* A complementary color */
  color: white !important; /* Text color */
}
.bg-danger{
  background-color: #F3969A;
}

@media screen {
  .margin{
    margin-top: 20px;
  }
}